*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    background-color: #111827;
}
#content{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:10rem;
    width: 90rem;
    font-size: 1.5rem;
}
.description{
    text-align: center;
    background-color: rgb(35, 47, 70);
    height:30rem;
    width: 52rem;
    padding: 5rem;
    font-size: 2rem;
}