
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    background-color: #111827;
}
#content{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
.maincontainer{
    height: 10rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white
}
.browsercontainer{
    display: flex;
    align-items: center;
    width: 40rem;
    justify-content: space-around;
    height: 3rem;
}
.browsercontainer div{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    height: 2.5rem;
    width: 7rem;
    cursor: pointer;
}


